# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

.vscode
.cache
build

task1/build
task1/build-gpu
task1/tracer/include
task1/tracer/*generated*

task3/build
task3/tracer/include
task3/tracer/*generated*
task3/build-gpu
